/*                KEY POSITIONS

  ╭─────────────────────────╮ ╭─────────────────────────╮
  │ LT5 LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 RT5 │
  │ LM5 LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 RM5 │
  │ LB5 LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 RB5 │
  ╰───────────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────────╯
              ╰─────────────╯ ╰─────────────╯ */

// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <150>;

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

//        NAME     BINDING      KEYPOS       LAYERS       TIMEOUT
// Sticky layers by pressing the same layer at the same time (using both left and right thumb keys at the same time)
ZMK_COMBO(num_on,  &to NUM,     LH1 RH0,     BAS     NAV, 18)
ZMK_COMBO(nav_on,  &to NAV,     LH0 RH1,     BAS NUM    , 18)
ZMK_COMBO(num_off, &to BAS,     LH1 RH0,         NUM NAV, 18)
ZMK_COMBO(nav_off, &to BAS,     LH0 RH1,         NUM NAV, 18)

// Number row combos
ZMK_COMBO(one,     &kp N1,      LT5 LT4,     BAS NUM NAV, 30)
ZMK_COMBO(two,     &kp N2,      LT4 LT3,     BAS NUM NAV, 30)
ZMK_COMBO(three,   &kp N3,      LT3 LT2,     BAS NUM NAV, 30)
ZMK_COMBO(four,    &kp N4,      LT2 LT1,     BAS NUM NAV, 30)
ZMK_COMBO(five,    &kp N5,      LT1 LT0,     BAS NUM NAV, 30)
ZMK_COMBO(six,     &kp N6,      RT1 RT0,     BAS NUM NAV, 30)
ZMK_COMBO(seven,   &kp N7,      RT2 RT1,     BAS NUM NAV, 30)
ZMK_COMBO(eight,   &kp N8,      RT3 RT2,     BAS NUM NAV, 30)
ZMK_COMBO(nine,    &kp N9,      RT4 RT3,     BAS NUM NAV, 30)
ZMK_COMBO(zero,    &kp N0,      RT5 RT4,     BAS NUM NAV, 30)
