/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    bindings = <&mo>, <&tog>;

    flavor = "hold-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    behaviors {
        lht: lht {
            compatible = "zmk,behavior-hold-tap";
            label = "LHT";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
        capsht: capsht {
            compatible = "zmk,behavior-hold-tap";
            label = "CAPSHT";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE_LAYER {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&lht 3 3  &kp Q            &kp W           &kp F        &kp P     &kp B                 &kp J                  &kp L      &kp U               &kp Y           &kp SQT           &lht 3 3
&lht 2 2  &mt A LEFT_META  &mt R LEFT_ALT  &mt LCTRL S  &kp T     &kp G                 &kp M                  &kp N      &mt RCTRL E         &mt LEFT_ALT I  &mt RIGHT_META O  &lht 2 2
&lht 1 1  &kp Z            &kp X           &kp C        &kp D     &kp V                 &kp K                  &kp H      &kp COMMA           &kp DOT         &kp FSLH          &lht 1 1
                                           &kp ESCAPE   &kp BSPC  &mt TAB LEFT_SHIFT    &mt ENTER RIGHT_SHIFT  &kp SPACE  &capsht CAPSLOCK 0
            >;

            label = "BAS";
        };

        SYMBOL_LAYER {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&to 0  &kp EXCLAMATION   &kp AT_SIGN  &kp POUND              &kp DOLLAR       &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK   &kp TILDE       &kp QUESTION  &to 0
&to 0  &kp LESS_THAN     &kp LBKT     &kp LEFT_PARENTHESIS   &kp LEFT_BRACE   &none          &none      &kp PIPE       &kp COLON      &kp MINUS       &kp PLUS      &to 0
&to 0  &kp GREATER_THAN  &kp LBRC     &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &none          &none      &kp BACKSLASH  &kp SEMICOLON  &kp UNDERSCORE  &kp EQUAL     &to 0
                                      &to 0                  &to 0            &to 0          &to 0      &to 0          &to 0
            >;

            label = "SYM";
        };

        NAVIGATION_LAYER {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&to 0  &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3      &kp NUMBER_4      &kp N5              &kp NUMBER_6     &kp NUMBER_7    &kp NUMBER_8    &kp NUMBER_9  &kp NUMBER_0     &to 0
&to 0  &kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &kp LG(NUMBER_4)  &kp LG(NUMBER_5)    &none            &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &to 0
&to 0  &kp LG(F1)        &kp LG(F2)        &kp LG(F3)        &kp LG(F4)        &kp LG(F5)          &none            &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &to 0
                                           &none             &none             &kp LEFT_SHIFT      &kp RIGHT_SHIFT  &none           &none
            >;

            label = "NAV";
        };

        FUNCTION_LAYER {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "FUN";
        };
    };
};
