// Import necessary components
// Core ZMK stuff
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
// Nodefree helper modules
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"

// Layer aliases
#define BAS 0
#define NUM 1
#define NAV 2

// custom additions
#include "combos.dtsi"
#include "behaviors.dtsi"

// keymap
ZMK_LAYER(base,
     //╔═════════════╦══════════════╦════════════════╦═════════════════╦═════════════════╦══════════════╕   ╒════════════════╦═════════════════╦══════════════════╦═════════════════╦════════════════╦═════════════╗
         &kp ESC       &kp Q          &kp W            &kp F             &kp P             &kp B              &kp L            &kp L             &kp U              &kp Y             &kp SEMI         &key_repeat
     //╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣
         &none           &hml LGUI A    &hml LALT R      &hml LCTRL S      &hml LSHFT T      &kp G              &kp M            &hmr RSHFT N      &hmr RCTRL E       &hmr LALT I       &hmr RGUI O      &kp APOS
     //╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣
         &smart_shft   &kp Z          &kp X            &kp C             &kp D             &kp V              &kp K            &kp H             &kp COMMA          &kp DOT           &kp FSLH         &smart_shft
     //╚═════════════╩══════════════╩════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╩════════════════╩═════════════╝
                                                       &none               &lt_bs NUM 0      &lt NAV TAB        &lt NUM RET      &lt NAV SPACE     &none
     //                                              ╚═════════════════╩═════════════════╩══════════════╛   ╘════════════════╩═════════════════╩══════════════════╝
)

ZMK_LAYER(num,
     //╔═════════════╦══════════════╦════════════════╦═════════════════╦═════════════════╦══════════════╕   ╒════════════════╦═════════════════╦══════════════════╦═════════════════╦════════════════╦═════════════╗
         &trans           &kp N1         &kp N2           &kp N3            &kp N4            &kp N5             &kp N6           &kp N7            &kp N8             &kp N9            &kp N0           &trans
     //╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣
         &trans           &hml LGUI LT   &hml LALT LBKT   &hml LCTRL LPAR   &hml LSHFT LBRC   &kp FSLH           &kp BSLH         &hmr RSHFT PIPE   &hmr RCTRL COLON   &hmr LALT MINUS   &hmr RGUI PLUS   &trans
     //╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣
         &trans           &kp GT         &kp RBKT         &kp RPAR          &kp RBRC          &kp EXCL           &kp QMARK        &kp TILDE         &kp SEMI           &kp UNDER         &kp EQUAL        &trans
     //╚═════════════╩══════════════╩════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╩════════════════╩═════════════╝
                                                       ---               ---               ---                ---              ---               ---
     //                                              ╚═════════════════╩═════════════════╩══════════════╛   ╘════════════════╩═════════════════╩══════════════════╝
)

ZMK_LAYER(nav,
     //╔═════════════╦══════════════╦════════════════╦═════════════════╦═════════════════╦══════════════╕   ╒════════════════╦═════════════════╦══════════════════╦═════════════════╦════════════════╦═════════════╗
         &trans           &kp LG(N6)     &kp LG(N7)       &kp LG(N8)        &kp LG(N9)        &kp LG(N0)         &kp LG(TAB)      &kp LG(LEFT)      &kp LG(DOWN)       &kp LG(UP)        &kp LG(RIGHT)    &trans
     //╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣
         &trans           &kp LG(N1)     &kp LG(N2)       &kp LG(N3)        &kp LG(N4)        &kp LG(N5)         &kp LG(F)        &kp LEFT          &kp DOWN           &kp UP            &kp RIGHT        &trans
     //╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣
         &trans           &kp LG(F1)     &kp LG(F2)       &kp LG(F3)        &kp LG(F4)        &kp LG(F5)         &kp LG(SPACE)    &kp HOME          &kp PG_DN          &kp PG_UP         &kp END          &trans
     //╚═════════════╩══════════════╩════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╩════════════════╩═════════════╝
                                                       ---               ---               ---                ---              ---               ---
     //                                              ╚═════════════════╩═════════════════╩══════════════╛   ╘════════════════╩═════════════════╩══════════════════╝
)
