// Import necessary components
// Core ZMK stuff
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
// Nodefree helper modules
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"

// Layer aliases
#define BAS 0
#define NUM 1
#define NAV 2
#define FUN 3

// custom additions
//#include "combos.dtsi"
#include "behaviors.dtsi"

// keymap
ZMK_LAYER(base,
     /*╔═════════════╦══════════════╦════════════════╦═════════════════╦═════════════════╦══════════════╕   ╒════════════════╦═════════════════╦══════════════════╦═════════════════╦════════════════╦═════════════╗*/
         &kp ESC       &kp Q          &kp W            &kp F             &kp P             &kp B              &kp J            &kp L             &kp U              &kp Y             &kp SEMI         &bs_morph
     /*╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣*/
         &kp TAB       &kp A          &kp R            &kp S             &kp T             &kp G              &kp M            &hmr RSHFT N      &kp E              &kp I             &kp O            &kp APOS
     /*╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣*/
         &caps_morph   &mt LGUI Z     &mt LALT X       &mt LCTRL C       &kp D             &kp V              &kp K            &kp H             &mt RCTRL COMMA    &mt LALT DOT      &mt RGUI FSLH    &kp RET
     /*╚═════════════╩══════════════╩════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╩════════════════╩═════════════╝*/
                                                       &none             &ltm_num          &sk LSHIFT         &kp SPACE        &ltm_nav          &none
     /*                                              ╚═════════════════╩═════════════════╩══════════════╛   ╘════════════════╩═════════════════╩══════════════════╝*/
)

ZMK_LAYER(num,
     /*╔═════════════╦══════════════╦════════════════╦═════════════════╦═════════════════╦══════════════╕   ╒════════════════╦═════════════════╦══════════════════╦═════════════════╦════════════════╦═════════════╗*/
         &trans        &kp AS(N1)     &kp AS(N2)       &kp AS(N3)        &kp AS(N4)        &kp AS(N5)         &kp AS(N6)       &kp AS(N7)        &kp AS(N8)         &kp AS(N9)        &kp AS(N0)       &trans
     /*╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣*/
         &trans        &kp LT         &kp LBKT         &kp LPAR          &kp LBRC          &kp FSLH           &kp BSLH         &kp PIPE          &kp COLON          &kp MINUS         &kp PLUS         &trans
     /*╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣*/
         &trans        &kp GT         &kp RBKT         &kp RPAR          &kp RBRC          &kp QMARK          &kp GRAVE        &kp TILDE         &kp SEMI           &kp UNDER         &kp EQUAL        &trans
     /*╚═════════════╩══════════════╩════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╩════════════════╩═════════════╝*/
                                                       &trans            &trans            &trans             &trans           &trans            &trans
     /*                                              ╚═════════════════╩═════════════════╩══════════════╛   ╘════════════════╩═════════════════╩══════════════════╝*/
)

ZMK_LAYER(nav,
     /*╔═════════════╦══════════════╦════════════════╦═════════════════╦═════════════════╦══════════════╕   ╒════════════════╦═════════════════╦══════════════════╦═════════════════╦════════════════╦═════════════╗*/
         &trans        &kp LG(N6)     &kp LG(N7)       &kp LG(N8)        &kp LG(N9)        &kp LG(N0)         &kp LG(TAB)      &kp LG(LEFT)      &kp LG(DOWN)       &kp LG(UP)        &kp LG(RIGHT)    &trans
     /*╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣*/
         &trans        &kp LG(N1)     &kp LG(N2)       &kp LG(N3)        &kp LG(N4)        &kp LG(N5)         &kp LG(F)        &kp LEFT          &kp DOWN           &kp UP            &kp RIGHT        &trans
     /*╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣*/
         &trans        &kp LG(F1)     &kp LG(F2)       &kp LG(F3)        &kp LG(F4)        &kp LG(F5)         &kp LG(SPACE)    &kp HOME          &kp PG_DN          &kp PG_UP         &kp END          &trans
     /*╚═════════════╩══════════════╩════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╩════════════════╩═════════════╝*/
                                                       &trans            &trans            &trans             &trans           &trans            &trans
     /*                                              ╚═════════════════╩═════════════════╩══════════════╛   ╘════════════════╩═════════════════╩══════════════════╝*/
)

ZMK_LAYER(fun,
     /*╔═════════════╦══════════════╦════════════════╦═════════════════╦═════════════════╦══════════════╕   ╒════════════════╦═════════════════╦══════════════════╦═════════════════╦════════════════╦═════════════╗*/
         &kp F1        &kp F2         &kp F3           &kp F4            &kp F5            &kp F6             &kp F7           &kp F8            &kp F9             &kp F10           &kp F11          &kp F12
     /*╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣*/
         &trans        &none          &kp LS(PSCRN)    &kp PSCRN         &kp LA(PSCRN)     &none              &none            &kp C_PREV        &kp C_PP           &kp C_NEXT        &none            &trans
     /*╠═════════════╬══════════════╬════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╬════════════════╬═════════════╣*/
         &trans        &none          &none            &none             &none             &none              &none            &none             &none              &none             &none            &trans
     /*╚═════════════╩══════════════╩════════════════╬═════════════════╬═════════════════╬══════════════╡   ╞════════════════╬═════════════════╬══════════════════╬═════════════════╩════════════════╩═════════════╝*/
                                                       &trans            &trans            &trans             &trans           &trans            &trans
     /*                                              ╚═════════════════╩═════════════════╩══════════════╛   ╘════════════════╩═════════════════╩══════════════════╝*/
)
